*{
  margin: 0;
  padding: 0;
}

.wrap{
  display: flex;
  flex-direction: column;
  border: yellow solid 3px;
}

.topInfo{
  display: flex;
  border: greenyellow solid 3px;
}

.comments, .users, .posts{
  display: flex;
  border: aquamarine solid 3px;
}

.users{
  flex-direction: column;
}

.posts, .comments{
  box-sizing: border-box;
  flex-wrap:wrap;
  justify-content: space-evenly;
}